<div class="wrapper">
	<div class="content">
		<div style="display: flex; ">
			<div class="content__title"> Currency RUB</div>
			<button [ngClass]="buttonClasses" (click)="buttonClick()">
				<svg fill="#228BE6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="48px" height="48px">
					<path
						d="M32,10c12.15,0,22,9.85,22,22s-9.85,22-22,22s-22-9.85-22-22S19.85,10,32,10z M40,34c1.104,0,2-0.895,2-2	c0-1.105-0.896-2-2-2c-0.248,0-2.913,0-6,0c0-3.087,0-5.752,0-6c0-1.104-0.895-2-2-2c-1.104,0-2,0.896-2,2c0,0.248,0,2.913,0,6	c-3.087,0-5.752,0-6,0c-1.104,0-2,0.895-2,2c0,1.105,0.896,2,2,2c0.248,0,2.913,0,6,0c0,3.087,0,5.752,0,6c0,1.104,0.896,2,2,2	c1.105,0,2-0.896,2-2c0-0.248,0-2.913,0-6C37.087,34,39.752,34,40,34z" />
				</svg>
			</button>
			<div [ngClass]="addCurrencyClasses">
				<input class="addCurrency__input" type="checkbox" (click)="checkBOX1()"><span>CNY</span>
				<input class="addCurrency__input" type="checkbox" (click)="checkBOX2()"> <span>JPY</span>
				<input class="addCurrency__input" type="checkbox" (click)="checkBOX3()"> <span>TRY</span>

			</div>
		</div>

		<div class="content__date">
			<span class="date">{{date| date : 'dd.MM.yyyy'}}, </span>
			<span class="time">{{date| date : 'HH.mm.ss'}}</span>
		</div>
		<div *ngFor="let valut of massValut">
			<app-currency [Name]="valut.Name" [Number]="valut.Number" [diff]="valut.diff"
				[show]="valut.show"></app-currency>
		</div>
	</div>
</div>

<router-outlet></router-outlet>