.currency {
	margin-top: 15px;
	display: flex;
	align-items: center;

	&__name {
		font-family: 'Tilt Neon';
		font-style: normal;
		font-weight: 500;
		font-size: 30px;
		line-height: 30px;
		text-align: start;
		color: #000000;
	}

	&__block {
		margin-left: 20px;
		display: flex;
		align-items: center;
		font-family: 'Tilt Neon';
		font-style: normal;
		font-weight: 500;
		font-size: 25px;
		line-height: 30px;
		text-align: center;
		color: #000000;
		border: 2px solid;
		padding: 3px;
	}
}

.block-difference {
	margin-left: 20px;

}

.number {}

.difference {
	font-size: 20px;
}